body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* Divers */

.liens{
  color: black
}

/* Header */

  /* NavBar */

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FF8522; 
  z-index: 3;   
}
.bar {
  float: left;
}
.bar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
}
ul {
  position: fixed;
  top: 0;
  width: 100%;
}
.bar a:hover {
  background-color: #ffffff;
  color: #FF8522;
  font-weight: bolder;

}

  /* responsive navbar */

@media screen and (max-width: 600px) {
  .nav li.right, 
  .nav li {float: none;}
}

  /* Image header */

.header-image{
  width: 100%;
  max-width: 2000px;
  padding-bottom: 6em;
}
.header-image{
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 2000px;
  padding-bottom: 6em;
  }
.qualite-box {
  position: absolute;
  z-index: 2;
  width: 65%;    
  top: 550px;
}

  /* qualité */

.content1 {
  display: flex;
  justify-content: space-between;
  text-align: center;      
}
.logo-box{
  padding: 15px 100px;
}
.efficacitelogo{
  width: 6vw
}
.efficacite{
  color: #538B9F
}
.flexibilitelogo{
  width: 6vw;
  padding-top: 0.5em;
}
.flexibilite{
  color: #FF8522;
}
.experiencelogo{
  width: 6vw;
  padding-top: 1em;
}
.experience{
  color:#3A3A3A
}


/* Header fin */


/* main */

  /* Mise en page de mes connaissances et a propos */

.horizontal1{
  display: flex;
}
.vertical1{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3em;    
}
.vertical2{
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
  
  /* Mes connaissances */

.main1{
  padding-left: 10em;
  padding-right: 10em;
  display: flex;
  min-height: auto;
}
.main1a{
  margin: auto;   
  text-align: right;
}
.main1b{
  margin: auto;
  padding-right: 3em;
  width: 75vh
}
.main1cb{
  margin: auto;
}
.main1c{
  margin: auto; 
}

  /* Mes connaissances logo */

.mainpucelogo1{
  margin-top: 2em;
  color: #FF8522
}
.mainpucelogo2{
  margin-right: 3em;
  margin-top: 2em;
  color: #FF8522
}

  /* A propos */

.main2a{
  margin: auto;   
  text-align: right;
  padding-right: 5em;
}
.main2b{
  margin: auto;   
  text-align: left;
  padding-left: 4em;
}
.imageapropos{
  margin: auto;
  margin-left: 5em;
}

/* Header fin */

/* Des envies ? Des projets ? */

.envies{
  border: 1px solid #FF8522;
  margin: 5em;
  border-radius: 0.5em;
  text-align: center;      
  font-size: 25px;
  padding-top: 1em;
  padding-bottom: 1em;
}
.content2{ 
  padding-left: 10em;
  padding-right: 10em;   
  display: flex;
  min-height: auto;    
}
.adresse1{
  margin: auto;    
}
.form1{
  margin: auto;    
}
.form1b{
  display: grid;
  border: none;    
}
input, textarea {
  width: 100%;
  padding: 3px 10px;
  margin: 3px 0;
  box-sizing: border-box;
  border: 2px solid #e4caa4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}  
input:focus, textarea:focus {
  border: 2px solid #FF8522;
}
.maps{
  margin: auto;        
}
.mainpucelogo3{
  color: #FF8522;
}
.formulaire{
  margin-left: 2em;
}
.submitform{
  width: 150px;
  margin-left: 9em;
}


  /* Des envies ? Des projets ? fin */

  /* footer */
.pied-de-page{  
    padding-top: 2em; 
    background-color: #FF8522;
    margin-top: 50px; 
    display: grid;
    text-align: center;
    margin-top: 5em;
}
.footerlogo{
  color: black;
}
  /* footer fin */
