/* NavBar */
body{
    margin: 0;
 
}
.header-image{
    width: 100%;
    max-width: 2000px;
}
.wrapper {
    padding-top: 50px;
    text-align: left;
    position: absolute;
}
.btn {
    padding: 15px 50px;
    margin: 10px 4px;
    color: #F78524;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    z-index: 10;
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transform: scaleY(0.1);
    transform: scaleY(0.1);
    transition: all 0.4s;
    
}
.btn:hover {
    color: #FFBD92;
    
}
.btn:hover::before {
    opacity: 1;
    background-color: #F78524;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    transition: -webkit-transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity 0.4s;
    transition: transform 0.6s cubic-bezier(0.08, 0.35, 0.13, 1.02), opacity;
}
/* NavBar */

/* qualité */

.content1 {

    display: flex;
    justify-content: space-between;
    text-align: center;  
}
.logo-box{
    padding: 15px 100px;
  }

  /* qualité fin */

  /* renseignement */

.content2{
    
    text-align: center;
       
    columns: 3 auto;

  }
.content2-1{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    gap: 5px 10em;
    padding: 0.5em;
    margin: 1em;
    border: solid #F78524;
    border-radius: 1em;


}

  /* renseignement fin */

  /* footer */
.pied-de-page{   

    margin-top: 50px; 
    display: grid;
    text-align: center;
}

  /* footer fin */
